.btn {

  &--imaged {

    position: relative;
    overflow: hidden;
    padding-left: 50px;
    text-transform: uppercase;

    &::before {

      content: '';
      display: block;
      width: 60px;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background-image: linear-gradient(-250deg, #ee5b15, #ee5b15 70%, transparent 70%);

    }

    &::after {

      content: '';
      background: url(../images/shevrone-right@1x.png) 50% 50% no-repeat;
      background-size: 11px 18px;
      position: absolute;
      height: 18px;
      width: 11px;
      left: 15px;
      top: 50%;
      margin-top: -9px;

      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {

        background-image: url('../images/shevrone-right@2x.png');

      }

      .svg & {

        background-image: url('../images/shevrone-right.svg');

      }

    }

    &:active {

      &:hover {

        &:before {

          background: none;

        }

      }

    }

  }

}
