.menu-main {

  background: url('../images/dash-bg-blue@1x.png') #1a658f 0 100% repeat-x;
  background-size: 13px 3px;
  margin-bottom: 90px;

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {

    background-image: url('../images/dash-bg-blue@2x.png');

  }

  @media (max-width: $screen-xs-max) {

    display: none;

  }

  &__list {

    padding: 0;
    margin: 0;
    list-style-type: none;
    display: table;
    width: 100%;
    font-size: 0;
    text-align: center;

  }

  &__item {

    font-size: 16px;
    line-height: 43px;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px rgba(26, 47, 126, 0.75);
    display: table-cell;

    > a {

      display: inline-block;
      color: #ffffff;
      padding-left: 30px;
      position: relative;
      text-decoration: none;

      // Pseudo Elements
      &::before {

        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -13px;
        height: 25px;
        width: 26px;
        background-image: url('../images/menu-sprite@1x.png');
        background-size: 78px 200px;
        background-repeat: no-repeat;

        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {

          background-image: url('../images/menu-sprite@2x.png');

        }

      }

      &::after {

        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 3px;

      }
      // End Pseudo Elements

      // Pseudo Selectors
      &:focus {

        text-decoration: none;
        color: #ffffff;
        outline: none;

      }

      &:hover {

        color: #35cae2;
        text-decoration: none;

        &:focus {

          color: #35cae2;

        }

        &::after {

          background-color: #35cae2;

        }

      }
      // End Pseudo

    }


    // Active items
    &--active {

      // All active links
      & > a {

        color: #fc8929;

        // Active links pseudo elements
        &::after {

          background-color: #fc8929;

        }

        // Active links hover
        &:hover {

          color: #fc8929;

          &:focus {

            color: #fc8929;

          }

          // Active links hover pseudo elements
          &::after {

            background-color: #fc8929;

          }

        }

        &:focus {

          color: #fc8929;

        }

      }

    }
    // End active item

    // Media item styles
    @media (max-width: $screen-sm-max) {

      font-size: 13px;

    }
    // End media active styles

  }
  // End item styles


  // Home link styles
  &__link-home {

    &::before {

      background-position: 0 0;

    }

    &:hover {

      &::before {

        background-position: -26px 0;

      }

    }

    .menu-main__item--active & {

      &::before {

        background-position: -52px 0;

      }

    }

  }
  // End home link styles


  // City link styles
  &__link-city {

    &::before {

      background-position: 0 -25px;

    }

    &:hover {

      &::before {

        background-position: -26px -25px;

      }

    }

    .menu-main__item--active & {

      &::before {

        background-position: -52px -25px;

      }

    }

  }
  // End city link styles


  // Resorts link styles
  &__link-resorts {

    &::before {

      background-position: 0 -50px;

    }

    &:hover {

      &::before {

        background-position: -26px -50px;

      }

    }

    .menu-main__item--active & {

      &::before {

        background-position: -52px -50px;

      }

    }

  }
  // End resorts link styles


  // Medicine link styles
  &__link-medicine {

    &::before {

      background-position: 0 -75px;

    }

    &:hover {

      &::before {

        background-position: -26px -75px;

      }

    }

    .menu-main__item--active & {

      &::before {

        background-position: -52px -75px;

      }

    }

  }
  // End medicine link styles


  // Children link styles
  &__link-children {

    &::before {

      background-position: 0 -100px;

    }

    &:hover {

      &::before {

        background-position: -26px -100px;

      }

    }

    .menu-main__item--active & {

      &::before {

        background-position: -52px -100px;

      }

    }

  }
  // End children link styles


  // Prices link styles
  &__link-prices {

    &::before {

      background-position: 0 -125px;

    }

    &:hover {

      &::before {

        background-position: -26px -125px;

      }

    }

    .menu-main__item--active & {

      &::before {

        background-position: -52px -125px;

      }

    }

  }
  // End prices link styles


  // City link styles
  &__link-map {

    &::before {

      background-position: 0 -150px;

    }

    &:hover {

      &::before {

        background-position: -26px -150px;

      }

    }

    .menu-main__item--active & {

      &::before {

        background-position: -52px -150px;

      }

    }

  }
  // End map link styles


  // City contacts styles
  &__link-contacts {

    &::before {

      background-position: 0 -175px;

    }

    &:hover {

      &::before {

        background-position: -26px -175px;

      }

    }

    .menu-main__item--active & {

      &::before {

        background-position: -52px -175px;

      }

    }

  }
  // End contacts link styles

}
