.news-block {

  position: relative;

  &__image {

    border-radius: 5px;

  }

  &__heading {

    position: absolute;
    bottom: 20px;
    text-align: center;
    margin: 0;
    padding: 20px;
    font-size: 20px;
    font-family: $font-medium;
    background-color: rgba(22,99,144,0.86);
    width: 100%;

    a {

      color: #ffffff;
      text-decoration: underline;

      &:hover {

        text-decoration: none;

      }

    }

  }

}
