.page-header {

  background: url('../images/header-bg-desktop@1x.jpg') #2378a7 50% 0 no-repeat;
  background-size: cover;
  padding-bottom: 105px;
  position: relative;

  &__top-row {

    padding-bottom: 34px;
    background-color: rgba(0,0,0,0.43);

  }

  &__header-info {

    margin-bottom: 14px;

  }

}
