.page-footer {

  &__top {

    background: url('../images/dash-bg-dark-blue@1x.png') #3280ac 0 100% repeat-x;

  }

  &__bottom {

    background-color: #1a658f;
    padding: 5px 0 8px;

  }

  &__col {

    padding: 25px 0 10px;

    &--main {

      background-color: #1a658f;

      @media (max-width: $screen-sm-max) {

        background-color: transparent;

      }

      .page-footer__list-item {

        margin-bottom: 27px;

      }

    }


  }

  &__copyright {

    font-size: 13px;
    color: #ffffff;
    margin-left: 10px;

  }

  &__social-list {


  }


}
