.phone {

  .page-header & {

    text-align: right;

  }

  &__wrap {

    display: inline-block;
    color: #fff;
    font-family: $font-medium;
    padding-left: 30px;
    background: url('../images/phone@1x.png') 0 50% no-repeat;
    background-size: 20px auto;

    .page-footer & {



    }

    .page-header & {

      margin-bottom: 2px;
      font-size: 26px;

    }


    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {

      background-image: url('../images/phone@2x.png');

    }

    .svg & {

      background-image: url('../images/phone.svg');

    }

  }

}
