.slider-nav {

  position: absolute;
  bottom: 40px;
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 0;

  &__item {

    display: inline-block;
    margin: 0 2px;

  }

  &__link {

    display: block;
    width: 16px;
    height: 16px;
    padding: 1px;
    border: 1px solid white;
    border-radius: 2px;


    &--active {

      background-color: #fc8929;
      border-color: #fc8929;

    }

  }

}
