body {

  min-width: 320px;

}

.text-right {

  text-align: right;

}

.table {

  display: table;

}

.table-row {

  display: table-row;

}

.table-col {

  display: table-cell;

}

.component-wrapper {

  padding: 35px 0;

}
